h1:hover {
	color: red;
	text-shadow: 0.1rem 0.1rem 4rem red;
}
h1:hover {
	cursor: pointer;
	filter: drop-shadow(0 0 2em #33d800aa);
}
h1.react:hover {
	filter: drop-shadow(0 0 2em #00a03baa);
}
.logo {
	transition: filter 100ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
